{% include "header.html" %}
{% if posts %}
<div class="col-lg-6 col-lg-offset-3">
  <table class="table text-center">
  {% for post in posts %}
    <tr>
      <td><a href="/post/{{ post.id }}" >{{ post.title }}</a></li></td>
      <td>{{ post.author }} </td>
      <td>{{ post.uploaded_date }} </td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
<div class="text-center">
<a href="/post"><button class="btn btn-primary btn-lg">Create a Post</button></a>
</div>
</div>
</div>
{% include "footer.html" %}
